html,
body {
	height: 100%;
	font-size: 12px;
	font-family: "Open Sans", sans-serif;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
	background-image: url(../images/bg-pattern.svg),radial-gradient(farthest-side ellipse at 10% 0, #414e60 20%, #94a3b1);
	background-size: cover;
}

.header {
	font-weight: 600;
	font-size: 14px;
}

.input-group input {
	border: none !important; 
    color: #f8f8f8 !important;
    background-color: rgba(51,51,51,0.425) !important;
}

span>i {
	color: rgb(210,210,210) !important;
	/*width: 35px;*/
}

.form-login {
	width: 100%;
	/*max-width: 350px;*/
	padding: 20px;
	margin: auto;
	color: #f8f8f8;
    background: rgba(51,51,51,0.425);
}

.login-prepend {
	padding-right: 10px;
    background-color: rgba(51,51,51,0.3) !important;
}

.login-prepend span {
	border-right: none !important;
	border-color: transparent !important;
	/*background-color: rgba(51,51,51,0.3) !important;*/
	background-color: transparent !important;
}
